<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3>Sobre Nós</h3>
      <p>
        Somos uma loja especializada em produtos de basquetebol, oferecendo uma ampla variedade de sapatilhas,
        vestuário, acessórios e equipamentos para jogadores de todas as idades e habilidades.
      </p>
    </div>
    <div class="footer-column">
      <h3>Contato</h3>
      <p>+351 927 665 677</p>
      <p>23061&copy;stu.ipbeja.pt</p>
      <p>Avenida Basket, 123<br>Basquetebol, Portugal</p>
    </div>
    <div class="footer-column">
      <h3>Links Úteis</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">A Minha Conta</a></li>
        <li><a href="#">Ver Carrinho</a></li>
        <li><a href="#">Trabalhe Connosco</a></li>
        <li><a href="#">Termos e Condições</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Siga-nos</h3>
      <ul class="social-links">
        <li><a href="#"><img ngSrc="assets/facebook.ico" alt="Facebook" height="30" width="30"></a></li>
        <li><a href="#"><img ngSrc="assets/twitter.ico" alt="Twitter" height="30" width="30"></a></li>
        <li><a href="#"><img ngSrc="assets/instagram.svg" alt="Instagram" height="30" width="30"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Basket Store. Todos os direitos reservados.</p>
  </div>
</footer>
